@import "./component/global.css";

*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
input:focus{
  outline: none;
}
:disabled {
  cursor: not-allowed;
}
button {
  cursor: pointer;
}
iframe {
  border: none;
}
abbr[title] {
  cursor: help;
}
label {
  display: inline-block;
}
body {
  font-size: 16px;
  font-family: sans-serif;
  background: #000;
}
.container {
  max-width: 100vw;
  height: 100vh;
  margin: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row [class^="col"] {
  flex: 1 0 auto;
}

.row .col-1 {
  flex-basis: 8.33%;
  max-width: 8.33%;
}
.row .col-2 {
  flex-basis: 16.66%;
  max-width: 16.66%;
}
.row .col-3 {
  flex-basis: 25%;
  max-width: 25%;
}
.row .col-4 {
  flex-basis: 33.33%;
  max-width: 33.33%;
}
.row .col-5 {
  flex-basis: 41.66%;
  max-width: 41.66%;
}
.row .col-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.row .col-7 {
  flex-basis: 58.33%;
  max-width: 58.33%;
}
.row .col-8 {
  flex-basis: 66.66%;
  max-width: 66.66%;
}
.row .col-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.row .col-10 {
  flex-basis: 83.33%;
  max-width: 83.33%;
}
.row .col-11 {
  flex-basis: 91.66%;
  max-width: 91.66%;
}
.row .col-12 {
  flex-basis: 100%;
  max-width: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
